html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header{
    border: 2px solid black;
     background-image: url('https://images.unsplash.com/photo-1536440136628-849c177e76a1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=725&q=80');
    filter: blur(1.9px) grayscale(30%) opacity(0.9) contrast(100%);
    background-position-y: 7%;
    background-position-x: 10%;
    background-size: cover;
   background-repeat: no-repeat;
   height: 30vh;
}
#top{
    filter: none;
}*/
header {
 
  position: relative;
  height: 30vh;
  
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://images.unsplash.com/photo-1536440136628-849c177e76a1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=725&q=80');
  background-position: 10% 7%;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(0.5px) grayscale(100%) contrast(100%);
  z-index: -1;
}
#top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    color: whitesmoke;
    font-weight: 800;
    font-size: 1.2rem;
    text-shadow: 5px 6px 10px black ;   
}



main{
    height: 70vh;
    background-color: #fff;
    width: 100%
}

#tagline{
    font-weight: 600;
    font-size: 1.5rem;
    color: #ECE7E7;
    text-shadow: 1px 1px 10px #AEA6A6;
}
.container{
    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 70vh; 
}
#container{
    background-color: #EDDFF5;
}

#search-div {
    display: flex;
    position: absolute;
    top: 27%;
    width: 100%;
    justify-content: center;
    align-items: center;
   height: 2.5em;

}
#search-btn{
     height: 100%;
     margin: 0;
     border: 0;
      border-radius: 0px 10px 10px 0;
      width: 25%;
      font-size: 0.8rem;
      font-weight: 600;
      color: #B1A3A3;
}
#search-bar{
    width: 65%;
    height: 100%;
  box-sizing: border-box;
  border-radius: 10px 0 0 10px;
  padding: 0.5em;
  font-weight: 600;
  border: 1px solid #D9D0D0;
  color: #B1A3A3;
}

#data-div{
    display: flex;
    height: 55vh;
    width: 95%;
    box-sizing: border-box;
    gap:1em;
    margin: 1em auto;
    border-radius: 12px;
    align-items: center;
    color: white;
    padding: 0.5em;
    background-color:#DBBFEA ;
    font-family: 'Josefin Sans', sans-serif;
    
}
#data-div:nth-child(1){
    margin-top: 2.5em;
}
hr{
    width: 70%;
}
#poster{
    width: 35%;
    height: 70%;
    border-radius : 3px
}
#star-icon{
    width: 10%;
    margin-left: 0.8em;
   position: relative;
   bottom: -0.3em;
}
#details-div{
     width: 70%;
     display: flex;
     flex-direction: column;
     gap:0.4em;
    
     
}

#details-div h3,p{
    margin: 0;
}
#title{
    display: inline;
    font-size:1.2rem;
    font-family: 'Josefin Sans', sans-serif;

}
#plot{
    font-size: 0.8rem;
    line-height:1.2; 
    font-family: 'Josefin Sans', sans-serif;
}
#runtime-others{
    font-size: 0.8rem;
    display: flex;
    gap:0.9em
}

#watchlist{
    cursor: pointer;
}


.watchlist-btn{
    border-radius: 20%;
    margin-left: 0.9em;
    border: none;
    background-color: #fff;
    color: #AEA6A6;
    font-weight: 600;
    font-size: 1rem;
    width: 1.5rem;
    height: 1.5rem;
}

#watchlist-span{
    font-size: 0.9rem;
   margin-top: 0.5em;
    display: block
}

#rating{
    margin-left: 0.2em;
    font-size: 0.9rem;
}
